#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  /*background-color: white !important;*/
  background-image: url(./assets/fondo-5.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card {
  min-width: 320px;
  width: 600px;
  padding: 3em;
  display: flex;
  background-color: rgba(232, 130, 130, 0.62);
  flex-wrap: wrap;
  justify-content: center;
  
}

.weather__title {
  width: 100%;
  padding: 0px;
  margin: 0px;
  line-height: 1em;
}

.img__weather{
  width: 100%;
  padding: 0px;
  margin-top: -2em;
}

.first__data{
  width: 50%;
}

.temperature__data{
  width: 50%;
}

.description{
  width: 50%;
  text-align: center;
  padding-left: 2em;
  font-size: 1.8em !important;
  font-weight: 600 !important;
}
.weather__app {
  font-size: 2.5em !important;
  font-weight: 600 !important;
}

.list__data li{
  font-size: 1.5em !important;
  line-height: 1.5em !important;
  font-weight: 500;
  text-align: left;
  justify-content: left;
  list-style: none;
}

.list__data span {
  font-weight: 550 !important;
}


/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* Tablets y phablets */
@media only screen and (min-width: 601px) and (max-width: 767px){

  .weather__title {
    width: 100%;
  }
  
  .img__weather{
    width: 100%;
    }
  
  .first__data{
    width: 100%;
  }
  
  .temperature__data{
    width: 100%;
  }
  
  .description{
    width: 100%;
  }
  
}

/* Teléfonos */
@media only screen and (max-width: 600px){

  body{
    background-image: url(./assets/fondo-5.jpeg);
  background-repeat: repeat;
  background-position: center center;
  background-size:contain;
  height: 100vh;
  }
  .card{
    width: 290px;
    padding: 0;
    margin: 0;
    height: 100vh;
  }
.weather__title {
  width: 100%;
}

.img__weather{
  width: 100%;
  }

.first__data{
  width: 100%;
}

.temperature__data{
  width: 100%;
}

.description{
  width: 100%;
}

}