#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  /*background-color: white !important;*/
  background-image: url(../src/assets/fondo-5.jpeg) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card {
  padding: 3em;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, .5fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  background-color: rgba(232, 130, 130, 0.62);

}

.weather__title {
  grid-area: 1 ;
  padding: 0px;
  margin: 0px;

}

.img__weather{
  grid-area: 0 / 1 ;
}

.first__data{
  grid-area: 0 / 2 ;
}

.temperature__data{
  grid-area: 3 ;
}